<!DOCTYPE html>
<html lang="ru">
<head>
	<title> Simple Campus</title>
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" media="screen and (color)" href="example.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
	<div class="wrapper">
		<nav class="nav">
			<div class="container">
				<div class="nav__row">
					<p class="nav__logo">
					<a href = "index.html"> </a>
					<img src = "img/logo.png" class="header__logo">
					</p>

					<div class="nav__menu menu">
							<nav class="menu__body">
								<ul class="nav__menu__list">
									<li><a href="" class="nav__menu__link">Акции</a></li>
									<li><a href="" class="nav__menu__link">Сеты</a></li>
									<li><a href="work" class="nav__menu__link">Работать с нами</a></li>
									<li><a href="" class="nav__menu__link">О нас</a></li>
								</ul>
							</nav>
					</div>

				</div>
			</div>
		</nav>
		<header class="header">
			<div class="container">
				<div class="header__row">
					<div class="header__menu menu">
							<div class="hiden_menu__icon hiden_icon-menu">
								<span></span>
							</div>
							<nav class="menu__body">
								<ul class="header__menu__list">
									<li> <div class="menu__icon icon-menu"> <span> </span> </div></li>
									<li><p class="header__text">Каталог товаров</p></li>
									<li>
										<div class="search">
									    	<input type="search" name="" class = "inp" placeholder="Яблочный сок">
									    	<input type="submit" value="hhh ">
									   </div>
									   <!--  style="background-image: url(image.png); -->
									</li>
									<li><a href="" class="header__menu__link"></a></li>
									<li><a href="" class="header__menu__link"></a></li>
									<li><a href="" class="header__menu__link"></a></li>
									<li><a href="" class="header__menu__link"></a></li>
								</ul>
							</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="page">
			<div class="container">
				<div class="three-block">
					<h1 class="three-block__title">Я люблю свою жизнь.</h1>
					<div class="three-block__row">
						<div class="three-block__column">
							<div class="three-block__item">
								<div class="three-block__image">
								</div>
								<div class = "block__title">
									<div class="three-block__text">
										Я люблю свою жизнь.
									</div>
								</div>
								<div class="block__text">
										Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь. Я люблю свою жизнь.
								</div>
						</div>
					</div>
					<div class="three-block__column">
						<div class="three-block__item">
							<div class="three-block__image">
							</div>
							<div class = "block__title">
								<div class="three-block__text">
									Я люблю свою жизнь.
								</div>
							</div>
							<div class="block__text">
								Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.
							</div>
						</div>
					</div>
					<div class="three-block__column">
						<div class="three-block__item">
							<div class="three-block__image">
							</div>
							<div class = "block__title">
								<div class="three-block__text">
									Я люблю свою жизнь.
								</div>
							</div>
								<div class="block__text">
									Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="three-block">
					<div class="three-block__row">
						<div class="three-block__column">
							<div class="three-block__item">
								<div class="three-block__image">
								</div>
								<div class = "block__title">
									<div class="three-block__text">
										Я люблю свою жизнь.
									</div>
								</div>
								<div class="block__text">
									Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.
								</div>
							</div>
						</div>
						<div class="three-block__column">
							<div class="three-block__item">
								<div class="three-block__image">
								</div>
								<div class = "block__title">
									<div class="three-block__text">
										Я люблю свою жизнь.
									</div>
								</div>
								<div class="block__text">
									Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.
								</div>
							</div>
						</div>
						<div class="three-block__column">
							<div class="three-block__item">
								<div class="three-block__image">
								</div>
								<div class = "block__title">
									<div class="three-block__text">
										Я люблю свою жизнь.
									</div>
								</div>
								<div class="block__text">
										Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.Я люблю свою жизнь.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row">
					<div class="footer__text"></div>
					<div class="footer__text"></div>
					<div class="footer__text"></div>
				</div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<!-- Подключаем файл JS скриптов -->
		<script src="js/script.js"></script>
	</div>
</body>
</html>